name: DevSecOps CI Pipeline

on:
  pull_request:
    branches: ["main"]
  push:
    branches: ["main"]

permissions:
  actions: read
  contents: read
  security-events: write

jobs:
  codeql-sast:
    name: SAST - CodeQL
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Initialize CodeQL
        uses: github/codeql-action/init@v4
        with:
          languages: javascript

      - name: Autobuild
        uses: github/codeql-action/autobuild@v4

      - name: Run CodeQL Analysis
        uses: github/codeql-action/analyze@v4


  gitleaks-secret-scan:
    name: Secret Scan - Gitleaks
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Fetch full history for Gitleaks

      - name: Run Gitleaks
        uses: gitleaks/gitleaks-action@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}


  trivy-fs-scan:
    name: Dependency Scan - Trivy FS
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Trivy filesystem scan (SARIF)
        uses: aquasecurity/trivy-action@0.24.0
        with:
          scan-type: fs
          scan-ref: .
          severity: HIGH,CRITICAL
          format: sarif
          output: trivy-fs.sarif
          # exit-code: ${{ github.event_name == 'push' && '1' || '0' }}
          exit-code: 0

      - name: Upload Trivy SARIF to GitHub Security
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: trivy-fs.sarif



  docker-image-scan:
    name: Container Scan - Trivy Image
    runs-on: ubuntu-latest
    needs: [trivy-fs-scan, gitleaks-secret-scan]

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -t devsecops:latest .

      - name: Trivy image scan (SARIF)
        uses: aquasecurity/trivy-action@0.24.0
        with:
          image-ref: devsecops:latest
          severity: HIGH,CRITICAL
          format: sarif
          output: trivy-image.sarif
          # exit-code: ${{ github.event_name == 'push' && '1' || '0' }}
          exit-code: 0


      - name: Upload image SARIF to GitHub Security
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: trivy-image.sarif

